<!--TODO: at some point refactor into global configs.-->
<style>
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}
.gallery-item {
  width: 200px;
  height: 200px;
  object-fit: hidden;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: cover;
}
.gallery-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
	object-fit: cover;
	transition: transform 400ms ease-out;
}
.gallery-image:hover {
	transform: scale(1.5);
  box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.4);
}
</style>

<div class ='gallery'>

    {% assign sorted = site.static_files | sort: 'date' %}
    {% for file in sorted %}
    {% if file.path contains include.folder %}
    <!--TODO: add '.jpg' and other JPEG extensions-->
    {% if file.extname == '.png' %}
      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}
         <div class="gallery-item">
          <a href="{{ page.img_dir }}{{ filename }}" title="{{ filename }}">
            <img src="{{ page.permalink }}/img/{{ filename }}.png?w=220&h=220&fit=crop"
                 alt="{{ filename }}"
                 title="{{ filename }}"
                 class='gallery-image'/>
          </a>
         </div>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
