.project {
    width: 220px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 10px 0;
}

.project img {
    margin: 0;
    max-width: 200px;
}

.photos {
    align: justify;
}